{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="display-4 text-primary">Friend List</h1>
    <table class="table">
        <tr>
            <td>id</td>
            <td>{{object.id}}</td>
        </tr>
        <tr>
            <td>name</td>
            <td>{{object.name}}</td>
        </tr>
        <tr>
            <td>mail</td>
            <td>{{object.mail}}</td>
        </tr>
        <tr>
            <td>gender</td>
            <td>{{object.gender}}</td>
        </tr>
        <tr>
            <td>age</td>
            <td>{{object.age}}</td>
        </tr>
    </table>
</body>
</html>